<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.fall20team04sec01_artgallery">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".AdminDashboardActivity"></activity>
        <activity android:name=".SearchFragment" />
        <activity android:name=".CategoryFragment" />
        <activity android:name=".AddToBagFragment" />
        <activity android:name=".ForgotPassword" />
        <activity android:name=".user_details" />
        <activity android:name=".PaymentFragment" />
        <activity android:name=".upload_art" />
        <activity android:name=".GalleryFragment" />
        <activity android:name=".item_billing_address" />
        <activity android:name=".MyCartFragment" />
        <activity android:name=".HomeFragment" />
        <activity android:name=".RegisterActivity" />
        <activity android:name=".Addresses" />
        <activity android:name=".AddArtist" />
        <activity android:name=".AdminLogin" />
        <activity android:name=".MainActivity" />
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>